.nav{
    width:100%;
    height:5%;
    display: flex;
    flex-direction: row;
    background-color: rgb(34, 47, 61);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .app-name{
       width:120px;
       height:40px;
       display: flex;
       align-items: center;
       justify-content: center;

       a{
            text-decoration: none;
            color: whitesmoke;
       }
    }

    .nav-items{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 200px;
        height: 40px;
        list-style-type: none;

        li{

            a{
                text-decoration: none;
                color: wheat;

                &:active,:visited{
                    color: rgb(0, 0, 1);
                }
            }
        }
    }
}
