<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification mail</title>
</head>
<body>
    <p>Hii <%= user.name %>,</p>
    <br>
    <br>
    <p>Please click the link below to activate your account</p>
    <a href="http://localhost:8000/user/verify/<%=user.id%>">http://localhost:8000/user/verify/<%=user.id%></a>
    <br>
    <br>
    <p>Thank you</p>
</body>
</html>